#root {
  max-width: 1020px;
  margin: 0 auto;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.correct-answers{
  font-size: 28px;
}

.question{
  font-size: 22px;
}

.button{
  background-color: black;
  color: white;
  width: 350px;
}